.formAdd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-search-menu {
    display: none;
}

.open-search-menu {
    display: block;
}

/* .in-add-food-container {
    position: fixed;
    width: 400px;
    overflow-y: scroll;
} */